<footer class="globalfooter">
	{{!-- <section class="gf-wrap">
		<ul class="gf-link-wrap">
			<li><a class="" href="#!">Link 1</a></li>
		</ul>
	</section> --}}
	<!--================================-->
	<section class="gf-wrap subrow">
		<p class="gf-copyright">
			Copyright © 2017 Wayne Cheng
		</p>
	</section>
</footer>
