
  <nav class="globalnav">
    <div class="wrap gn-wrap">
      <a href="/" class="title gn-title">Wayne C</a>
      <ul class="gn-list">
        <li><a href="/under-construction">Under Construction</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/projects/jobba">Jobba</a></li>
        <li><a href="/projects/mypass">MyPass</a></li>
      </ul>
    </div>
  </nav>