

<!--=============================================-->
<div class="row display result">
	<h2 id="result" class="headline"></h2>
</div>

<!--=============================================-->
<div class="query pg-container">
	<div class="blurb landing">
		<h2 id="title" class="headline">Not Sely</h2>
	</div>
	<img class="hotdog landing" src="icons/hotdog.svg" alt="hotdog">
	<div class="subheadline landing">
		<p class="alpha">Created by Mani, Mian, and Steven. </p>
		<p>Based on the open-source project by Wayne Cheng.</p>
		<a href="https://github.com/wayncheng/hotdog-or-not">GitHub</a>
		{{!-- <p>
		</p> --}}
		<!-- <p>Powered by Clarifai.</p> -->
	</div>
	<div class="loading-icon">
		<div class="preloader-wrapper big">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--=============================================-->

<div class="img-canvas portrait"></div>
<!--=============================================-->
<div class="row form">
	<form class="col s12">
		<div class="row">
			<div id="url-field" class="input-field col s12 m8 offset-m2 l6 offset-l3">
				<input id="url_in" type="text" class="imgInput validate">
				<label for="url_in">Image URL</label>
			</div>
		</div>
		<div class="row btn-row">
			
			 <a id="useCamera" class="selectInputType btn-round btn waves-effect waves-light selected" data-type="camera"> <i class="material-icons">camera_alt</i> </a>
			 <a id="useURL" class="selectInputType btn-round btn waves-effect waves-light" data-type="url"><i class="material-icons">link</i></a>
			 <!-- <a id="useFile" class="selectInputType btn-round btn waves-effect waves-light" data-type="file"><i class="material-icons">image</i></a> -->
			 {{!-- <a id="rotate" class="btn-round btn waves-effect waves-light"><i class="material-icons">screen_rotation</i></a> --}}
			 <a id="submit" class="btn-round btn waves-effect waves-light"><i class="material-icons">send</i></a>
		</div>
	</form>
</div>
<input id="cameraInput" class="imgInput" type="file" accept="image/*">
